<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ahao.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".temp.MyConfig"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="牛牛阅读器"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        tools:ignore="GoogleAppIndexingWarning">
            <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".temp.InitReader"/>
        <activity android:name=".EditTextActivity" />
        <activity
            android:name=".LikeActivity"
            android:label="halohalo" />
        <activity android:name=".LocalActivity" />
        <activity android:name=".ReadListViewActivity" />
        <activity android:name=".temp.MainActivityTemp"></activity>
        <uses-library android:name="android.test.runner" />
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>